<div class="col-lg-4" *ngFor="let product of products$ | async">
  <div class="product">
    <div class="top">
      <a routerLink="/products/{{product.id}}" routerLinkActive="router-link-active">{{ product.name }}</a>
      <div>
        <p>$AUD {{ product.price }}</p>
      </div>
    </div>
    <div class="bottom">
      <a routerLink="/products/{{product.id}}">update</a>
      <button (click)="delete(product.id)" class="btn btn-danger center-block pull-right ">Delete</button>
    </div>
  </div>
</div>
