/* You can add global styles to this file, and also import other style files */
body {
	background-color: #F8F8F8;
	font-family: "Microsoft YaHei" ! important;
	font-style: normal;
	font-weight: 400;
}
